<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startup Sprint</title>
    <link rel="icon" href="https://pbs.twimg.com/profile_images/477160049958084610/m2EEzWtm.jpeg">
    <link rel="stylesheet" href="stylesheets/normalize.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <script src="javascripts/konami.js"/>
  </head>
  <body>

<div style="position: absolute; bottom:0;width:100%;height:100px;">
<p> copyright VFA Startup</p>
<p> Credit: team Narin </p>
<p> Flatiron 2017 </p>
 </div>

    <%= yield %>

    <script type="text/javascript">
      document.body.addEventListener("keydown", onKeyDownHandler);
    </script>
  </body>
</html>
