<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<div id="red" class="box"> </div>
<div id="orange" class="box"> </div>
<div id="yellow" class="box"> </div>
<div id="green" class="box"> </div>
<div id="blue" class="box"> </div>
<div id="indigo" class="box"> </div>
<div id="violet" class="box"> </div>
</body>
</html>
