<!DOCTYPE html>
<html>
<head>
  Rainbow
</head>
<body>
<div style="color: red;"> Red </div>
<div style="color: orange;"> Orange </div>
<div style="color: yellow;"> Yellow </div>
<div style="color: green;"> Green </div>
<div style="color: blue;"> Blue </div>
<div style="color: indigo;"> Indigo </div>
<div style="color: violet;"> Violet </div>
</body>
</html>
