
  <!-- <a href="https://redd.it/6ieaar">link1</a>  -->

  <a href="https://www.reddit.com/r/pics/comments/6ieaar/they_guy_from_att_who_installed_my_internet_asked/">
    <h3> They guy from AT+T who installed my internet asked if he could have the old slide from my back yard.
      I was happy to see it go. He sent me this pic of his finished work (homemade). Cheers to this guy.
    </h3>
    <img src="https://i.redditmedia.com/nNc0upT2MsoSuvX-jREFqjWCKIY8A66CePwtUcskzyU.jpg?s=23637a5534d8e44c6ef8d2c5fa7114b9"
    alt="test"
     width="400" height="300">
  </a>

  <a href="https://i.redd.it/nekuxm538t4z.png">
    <h3> The Haunting </h3>
    <img src="https://b.thumbs.redditmedia.com/m-MvR8Ft1BLwyir3Al4fOs4m7Y3EJKlqeX8Zpg8dYIY.jpg" alt="Haunting"
    width="297" height="246.5">
  </a>

  <a href="https://www.leafly.com/news/politics/mexico-legalizes-medical-marijuana">
    <h3> Mexico Legalizes Medical Marijuana</h3>
    <img src="https://d3atagt0rnqk7k.cloudfront.net/wp-content/uploads/2017/06/19162432/mexico-city-1-1280x800.jpg"
    width="640" height="400">
  </a>


<!--   JSON.parse(RestClient.get('redd.it/6ieaar'))
