
<center>
<img src="//d24wuq6o951i2g.cloudfront.net/img/events/id/210/210387/assets/729.vfa_logo_color.png?0.06143176835030317"
  alt="" class="cms-image-img">
</center>

<center>
<p style="color:red; font-size:600%" >  + <br> Flatiron School </p>
</center>

<style>
body {
    background-image: url("https://i2.wp.com/siliconbayounews.com/wp-content/uploads/2017/03/Andrew-Yang.jpeg?fit=658%2C439");
    background-color: #cccccc;
}
</style>
<!--

<style>
<img src="https://i2.wp.com/siliconbayounews.com/wp-content/uploads/2017/03/Andrew-Yang.jpeg?fit=658%2C439" alt="">
  <center> + <br> Flatiron School </center>
</p>


<!--
<img src="//d24wuq6o951i2g.cloudfront.net/img/events/id/210/210387/assets/729.vfa_logo_color.png?0.0614
3176835030317" alt="" class="cms-image-img"> ->

 <!-- redirect to website on click


<img src="Sample.gif">

<br>
<form>
<input type="button" value="Home Page" onClick="redirect()">
</form>

</body>
</html>
